//Import Files
@import url('./responsive.scss');
//variables
$btn-options:hsl(205, 86%, 17%);
$clr-logo:hsl(205, 78%, 60%);
$bg-black : #222;
$bg-white : #fff;

//The Root Style Selector
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a{
    text-decoration: none;
    color: black;
}
button{
    background-color: transparent;
    border: none;
}
//The body Css 
body{
    font-family: "Open Sans",sans-serif;
    background-color: #F1f5f8;
    transition: all .3s ease-in-out;
}
//Create The Navbar Section
.Navbar{ //The Navbar Root Container
    height: 3rem;
    width: 100%;
    position: fixed;
    display: grid;
    place-items: center;
    background-color: $bg-white;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
    .Navbar_Container{ // This is the Child Container of the Nav
        width: 90vw;  // The vw Create a little margin after the element
        max-width: 38.75rem;
        display: flex;
        justify-content: space-between;
        align-items: center;
        .Navbar_Logo{ // This Is the logo Link
            font-family: "Roboto",sans-serif;
            color: $clr-logo;
            font-weight: 700;
            letter-spacing: 0.25rem;
        }
        .Navbar_Option_Button{ // The Option Buttons
            display: flex;
            gap: 1rem;
            button{
                font-weight: 500;
                font-size: 1.1rem;
                letter-spacing: 0.25rem;
                color: var($btn-options);
            }
            button:hover{
                color: $clr-logo;
            }
        }
    }
}
.Main{ // The Root css of the Main section
    height: 100vh;
    display: grid;
    place-items: center;
    .Main_Container{ //The Base container in the Main section
        display: flex;
        align-items: center;
        flex-direction: column;
        gap: 2.5rem;
        margin-top: 3.1rem;
        .Main_BackgroundColorName{ // This is the background-name container 
            background-color: $bg-black;
            color: $bg-white;
            padding: 1rem 1rem;
            font-size: 2.3rem;
            border-radius: 0.4rem;
            font-weight: 700;
            letter-spacing: 0.25rem;
            text-align: center;
            .Main_ColorName{
                color: $clr-logo;
            }
        }
        .Main_Button{ // The Button that change the background color
            padding: 0.8rem 1.4rem;
            border: 2px solid black;
            letter-spacing: 0.2rem;
            border-radius: 0.4rem;
            font-size: 0.9rem;
            background-color: transparent;
            font-weight: bold;
            transition: all .3s ease-in-out;
        }
        .Main_Button:hover{
            background-color: $bg-black;
            color: $bg-white;
        }
    }
}